<!DOCTYPE html>
{% load static %}
<html>
<head>                              
     <title>Usakag Fashions</title>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />      
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="keywords" content="Fashion Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
     Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
     <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
     <!-- css -->
     <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
     <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
     <link rel="stylesheet" href="{% static 'css/style2.css' %}" type="text/css" media="all" />
     <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" media="all" />
     <!--// css -->
     <!-- font -->
     <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
     <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
     <!-- //font -->
    
     <!-- JavaScript Bundle with Popper -->
     <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
     <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
     
     <div class="header-top-w3layouts">  
          <div class="container">
               <div class="col-md-6 logo-w3">
                    <a href="{% url 'store' %}"><img src="{% static 'images/usakag_fashions_logo1.png' %}" alt=" " /><h1 style=color:lightgreen;>USAKAG<span>FASHIONS</span></h1></a>
               </div>
               <div class="col-md-6 phone-w3l">
                    <ul>
                         <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></li>
                         <li>+256704544125</li>
                    </ul>
               </div>
               <div class="clearfix"></div>
          </div>
     </div>
     <div class="header-bottom-w3ls">
          <div class="container">
               <div class="col-md-7 navigation-agileits" data-spy="affix" data-offset-top="197">
                    <nav class="navbar navbar-default">
                         <div class="navbar-header nav_2">
                              <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                                   <span class="sr-only">Toggle navigation</span>
                                   <span class="icon-bar"></span>
                                   <span class="icon-bar"></span>
                                   <span class="icon-bar"></span>
                              </button>
                         </div> 
                         <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                              <ul class="nav navbar-nav ">
                                   <li class=" active"><a href="{% url 'store' %}" class="hyper "><span>Home</span></a></li>	
                                   <li class="dropdown ">
                                        <a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown" ><span>Clothing<b class="caret"></b></span></a>
                                             <ul class="dropdown-menu multi">
                                                  <div class="row">
                                                       <div class="col-sm-4">
                                                            <ul class="multi-column-dropdown">
                    
                                                                 <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Women's Clothing</a></li>
                                                                 <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's Clothing</a></li>
                                                                 <li><a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>Kid's Wear</a></li>
                                                                 <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Party Wear</a></li>
                                                       
                                                            </ul>
                                                       
                                                       </div>
                                                       <div class="col-sm-4">
                                                            <ul class="multi-column-dropdown">
                                                                 <li><a href="{% url 'cart' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Casuals</a></li>
                                                                 <li><a href="{% url 'cart' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Night Wear</a></li>
                                                                 <li><a href="{% url 'checkout' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Formals</a></li>
                                                                 <li><a href="{% url 'checkout' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Inner Wear</a></li>
                                                       
                                                            </ul>						
                                                       </div>
                                                       <div class="col-sm-4 w3l">
                                                            <a href="{% url 'cart' %}"><img src="{% static 'images/menu1.jpg' %}" class="img-responsive" alt=""></a>
                                                       </div>
                                                       <div class="clearfix"></div>
                                                  </div>	                                
                                             </ul>
                                   </li>
                                   <li class="dropdown">
                                             <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown" ><span> Personal Care <b class="caret"></b></span></a>
                                             <ul class="dropdown-menu multi multi1">
                                                  <div class="row">
                                                       <div class="col-sm-4">
                                                            <ul class="multi-column-dropdown">
                                                                 <li><a href="{% url 'cart' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Jewellery </a></li>
                                                                 <li><a href="{% url 'cart' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Watches</a></li>
                                                                 <li><a href="{% url 'checkout' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Cosmetics</a></li>
                                                                 <li><a href="{% url 'checkout' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Deo & Perfumes</a></li>
                                                       
                                                            </ul>
                                                            
                                                       </div>
                                                       <div class="col-sm-4">
                                                            
                                                            <ul class="multi-column-dropdown">
                                                                 <li><a href="{% url 'cart' %}"> <i class="fa fa-angle-right" aria-hidden="true"></i>Hair Care </a></li>
                                                                 <li><a href="{% url 'cart' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Shoes</a></li>
                                                                 <li><a href="{% url 'checkout' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Handbags</a></li>
                                                                 <li><a href="{% url 'checkout' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Skin care</a></li>
                                                       
                                                            </ul>
                                                            
                                                       </div>
                                                       <div class="col-sm-4 w3l">
                                                            <a href="{% url 'cart' %}"><img src="{% static 'images/menu2.jpg' %}" class="img-responsive" alt=""></a>
                                                       </div>
                                                       <div class="clearfix"></div>       
                                                  </div>	
                                             </ul>
                                   </li>
                                   <li><a href="{% url 'cart' %}" class="hyper"><span>About</span></a></li>
                                   
                              </ul>
                         </div>
                         <div class="col-md-1 cart-wthree">
                              <div class="cart"> 
                                   <a href="{% url 'cart' %}">
                                        <img  id="cart-icon" src="{% static 'images/cart.png' %}">
                                    </a>
                                    <p id="cart-total">4</p>
                         
                              </div>
                         </div>
                    </nav>
               </div>
                                             <script>
                         $(document).ready(function(){
                              $(".dropdown").hover(            
                                   function() {
                                        $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                                        $(this).toggleClass('open');        
                                   },
                                   function() {
                                        $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                                        $(this).toggleClass('open');       
                                   }
                              );
                         });
                         </script>
               
               
               <div class="clearfix"></div>
          </div>
     </div>
      
     <div class="container">
        <br>
        {% block content %}


        {% endblock content %}
     </div>



</body>
</html>